.skeleton {
  background-color: #333;
  background: linear-gradient(90deg, #333 25%, #444 50%, #333 75%);
  display: inline-block;
  height: 5rem;
  margin: 0.5rem 0;
  padding: 0 7.5rem;
  width: 100%;
  border-radius: 10px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
