.tooltip {
    color: white;
    border: 2px dashed white;
    border-radius: 2;
    size: 0.5rem;
    margin: 0.3rem;
}

.children {
    color: white;
    /* 下線を引く */
    text-decoration: underline;
    size: 1rem;
    padding: 1rem;
}
