.mainSentence {
  padding-left: 20px;
  width: 100%;
  max-width: 100%; /* 最大幅を100%に設定 */
  box-sizing: border-box; /* パディングを幅に含める */
}

.headSentence {
  font-size: 40px;
  text-align: center;
  width: 100%; /* 幅を100%に設定 */
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.precautions {
  color: red;
}

/* メインコンテナ用のクラスを追加 */
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 20px; /* 左右にパディングを追加 */
  box-sizing: border-box;
}
